{% extends 'base.html' %}

{% block content %}

<div class="p-3">
    <div class="card m-auto" style="width: 50%;">
        <div class="card-body">
            <div class="d-flex flex-row justify-content-between">
                <div>
                    <p><a class="text-info" href="{% url 'users:profile' post.author.username %}">{{ post.author.username }}</a> | <a style="color:rgb(0, 77, 77);" href="{%  url 'posts:detail' post.pk %}">{{ post.title }}</a></p>
                    <p class="text-muted font-italic font-weight-light">{{ post.created }}</p>
                </div>
                <div>
                    {% if user == post.author %}
                    <p class="btn btn-outline-info"><a style="color: rgb(0, 77, 77);" href="{% url 'posts:delete' post.pk %}">Delete Chirp</a></p>
                    {% endif %}
                </div>
            </div>
            <p class="card-text">{{ post.body }}</p>
        </div>
        <div class="card-footer text-center">
            <a class="text-info" href="{% url 'posts:home' %}">Return to Home Page</a>
        </div>
    </div>
</div>

{% endblock content %}