{% extends 'base.html' %}

{% block content %}

<div class="card text-center mx-auto" style="width: 75%; margin-top: 3em;">
    <h5 class="card-header">New Chirp</h5>
    <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
            <div class="card-text">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-center"><button type="submit" class="btn btn-info">Post</button></div>
            </div>
        </form>
    </div>
  </div>

{% endblock content %}