{% extends 'base.html' %}

{% block content %}

<div class="text-center pt-3">
    <img src="{{ user.profile.photo.url }}" style="width: 10em; height: 10em; object-fit: cover; border-radius: 50%;">
    <h1>{{ profile.username }}</h1>
    <p class="font-italic">Joined {{ profile.date_joined }}</p>
</div>

{% for post in profile.posts.all %}
<div class="p-3">
    <div class="m-auto">
        <div class="card">
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-2 text-right">
                            <!-- PROFILE IMAGE -->
                            <img src="{{ user.profile.photo.url }}" style="width: 3em; height: 3em; object-fit: cover; border-radius: 50%;">
                        </div>
                        <div class="col">
                            <div class="d-flex flex-row justify-content-between">
                                <div>
                                    <p><a class="text-info" href="{% url 'users:profile' post.author.username %}">{{ post.author.username }}</a> | <a style="color:rgb(0, 77, 77);" href="{%  url 'posts:detail' post.pk %}">{{ post.title }}</a></p>
                                    <p class="text-muted font-italic font-weight-light">{{ post.created }}</p>
                                </div>
                                <div>
                                    {% if user == post.author %}
                                    <p class="btn btn-outline-info"><a style="color: rgb(0, 77, 77);" href="{% url 'posts:delete' post.pk %}">Delete Chirp</a></p>
                                    {% endif %}
                                </div>
                            </div>
                            <p>{{ post.body }}</p>
                            <img src="{{ post.photo.url }}" style="width: 50%; border-radius: 5%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock content %}